@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
:root {
    --header-height: 80px;
    --l-global-padding: 20px;
}

* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
}
@media screen and ( min-width: 680px )
and (orientation: landscape) {
    html {
        height: 100vh;
        overflow-y: hidden;
    }
}
body {
    background-color: #000;
    color: #fff;
    font-family: 'Roboto',"Helvetica Neue",sans-serif;
    line-height: 1.54;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h2 {
    font-size: 32px;
    font-weight: 300;
}
a {
    text-decoration: none;
}